
/*Debut général*/
*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 30px;
    height: 85vh;
    background-color : rgb(71, 71, 71);
    background-size : cover;    
    font-family : calibri ;
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
    height: 200px;
}
::-webkit-scrollbar-track{
    background-color: #e7e6e6;
}
::-webkit-scrollbar-thumb{
    background: #479ec8;
    border-radius: 10px;
}
a{color: white;}
/*Fin général*/






/*Debut de navigation*/

/*Debut navigation général*/
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: rgb(101, 101, 101);
    text-align: center;
    border-radius: 10px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}
.nav-bar li{
    padding: 30px;
    width: 75px;
}
.nav-bar #active{
    background-color: #479ec8;
    border-bottom: white 5px solid;
}
.nav-bar .last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.name{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-left: 30px;
    font-size: 3em;
}
.navigation li,.name:hover{cursor: pointer;}

.navigation .menu-hamburger{
    cursor: pointer;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
}
/*Fin navigation général*/

/*Debut navigation responsive*/
@media screen and (max-width: 980px){
    .navigation {
        margin: 0;
        padding: 0;
    }
    .navigation .nav-bar{

        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(83, 83, 83, 0.2);
        backdrop-filter: blur(1px); /*Opacité du fond*/
        width: 100vh;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -200%;
        transition: all 0.5s ease; /*Vitesse de la transition*/
    }
    .nav-bar.mobile-menu{
        margin-left: 1px;
        padding: 0;
    }
    .navigation .nav-bar{
        display: flex;
        flex-direction : column;
        text-align: center;
    } 
    .navigation .nav-bar ul {
        padding: 0;
        text-align: center;
    }
    .navigation .nav-bar li{
        width: auto;
        padding: 0 0;
        font-size: 1.5em;
        border: none;
        background: none;
    } 
    .nav-bar #active{background: transparent;border-bottom: none;}
    .navigation .nav-bar ul li:nth-child(1){
        border: none;
    }
    .navigation .menu-hamburger {
        display: block;
        position: fixed;
        width: 40px;
        height: 40px;
        right: 50px;
        top: 40px;
    }

    .navigation .logo{   
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 10px 0 10px 30px;
    }
}
@media screen and (max-width: 446px){
    .name{width: 70%;}
}
/*Fin navigation responsive*/
/*Fin de navigation*/


/*Debut accueil*/
main{
    padding: 100px 15% 50px 15%;
    display: flex;
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.header{
    width: 50%;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.header h1, h2, h3, h4{padding: 15px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.header h1{font-size: 3em;}
.header h2{font-size: 2.5em;}
.header h3{font-size: 1.7em;}
.header h4{font-size: 1.4em;}
.card{
    
    text-align: center;
}
.card img{
    height: 400px;
    border-radius: 100px;
}
.button{padding: 15px;}
button:hover {cursor: pointer;}
button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
/*Fin accueil*/
/*Debut responsive*/
@media screen and (max-width: 1088px){
 .header{width: 100%;}
}
@media screen and (max-width: 980px){
    .navigation {
        padding: 0;
    }
    .navigation .nav-bar{
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(7px); /*Opacité du fond*/
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -200%;
        transition: all 0.5s ease; /*Vitesse de la transition*/
    }
    .nav-bar.mobile-menu{
        margin-left: 1px;
        padding: 0;
    }
    .navigation .nav-bar{
        display: flex;
        flex-direction : column;
        text-align: center;
    } 
    .navigation .nav-bar li{
        padding: 25px 0;
        font-size: 1.5em;
        border: none;
        background: none;
    } 
    .nav-bar #active{background: transparent;}
    .navigation .nav-bar ul li:nth-child(1){
        border: none;
    }
    .navigation .menu-hamburger {
        display: block;
        position: fixed;
        width: 40px;
        height: 40px;
        right: 50px;
        top: 40px;
    }
    .navigation .logo{   
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 10px 0 10px 30px;
    }
}
@media screen and (max-width : 508px) {
    main .card  img {width: 200px; height: 266px;}
}
/*Fin accueil*/


/*Contact*/
main{
    padding: 75px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #343434;
    border-radius: 10px;
}
main .h3{
    text-align: center;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    align-items: center;
}
main li {
    padding: 20px;
}
/*Fin de contact*/



/*Debut loisir*/
.loisir_responsive{display: none;}
.loisir-section{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
}
.loisir{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.loisir-section h3{
    font-size: 3em;
    margin: 75px 0 100px 0;
}
.box {
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    animation: animate 35s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1500px) rotateY(0deg);
    }
    100%{
        transform: perspective(1500px) rotateY(360deg);
    }
}
.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*90deg)) translateZ(300px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, #0004);
}
.box span .box-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.box-child{
    display: flex;
    flex-direction: column;
}
.box span .box-child img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.box span .box-child .box-text {
    color: rgb(71, 71, 71);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}
.box .box-child:hover{
    cursor: pointer;
    background-color: white;
}
.loisir-section,.loisir_responsive h4{font-size: 2em;}
@media screen and (max-width: 765px){
    .loisir-section{display: none;}
    .loisir_responsive{display: block; margin-top: 50px;justify-content: center; text-align: center; display: flex; flex-direction: column;}
    .loisir_responsive .box-child {margin: 10px 0 10px 0; width: 100%; align-items: center;}
    .loisir_responsive .box-child .box-text {padding: 20px;}
    .loisir_responsive img {
        width: auto;
        width: 300px;
        max-height: 200px;
        border-radius: 10px;
    }
}
/*Fin loisir*/






/*Debut experience*/
.volet-responsive {display: none;}
.cont_inner{
    position: relative;
    height: 400px;
}
.cont_inner:hover .el_bg::after {
    opacity: 1;
}

.el{
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 200px;
    width: 40%;
    height: 500px;
    background: #343434;
    will-change: transform, width, opacity;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
}
.el:not(.s--active) {
    cursor: pointer;
}
.el_overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s;
}
.cont.s--active .el_inner {
    transform: translate3d(0, 100%, 0);
}
.el_bg{
    position: relative;
    width: calc(100vh);
    height: 100%;
    will-change: transform;
    transition: transform 0.6s 0.7s;

}
.el_bg::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    transition: transform 1s;
    transform: translate3d(0, 0, 0) scale(1);

}

.cont.s--inactive .el_bg::before{
    transform: translate3d(0, 100%, 0) scale(1.2);
}
.el.s--active .el_bg::before{
    transition: transform 0.8s;
}
.el_bg::after{
    content: '';
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #343434;
    opacity: 0;
    transition: opacity 0.5s;
}
.cont.s--el-active .el_bg::after{
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
}
.el_preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
}
.cont.s--inactive .el_preview-cont{
    opacity: 0;
    transform: translateY(10px);
}
.cont.s--el-active .el_preview-cont {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}
.el_heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}
.el_content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
}
.el.s--active .el_content{
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
}
.el_text {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}
.el:nth-child(1) .el_text{
    display: flex;
    justify-content: space-between;
}
.el_text_child:nth-child(2){margin-right: 200px;}
.el_text h4 {margin: 15px 0 15px 0;}
.el_text li, .el_text p{
    text-transform: none;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.el_close-btn{
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
}
.el.s--active .el_close-btn{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
}
.el_close-btn:before, .el_close-btn::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}
.el.s--active .el_close-btn::before, .el.s--active .el_close-btn::after{
    opacity: 1;
}
.el_close-btn::before{
    transform: rotate(45deg) translateX(100%);
}
.el.s--active .el_close-btn::before{
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(45deg) translateX(0);
}
.el_close-btn::after{
    transform: rotate(-45deg) translateX(100%);
}
.el.s--active .el_close-btn::after{
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(-45deg) translateX(0);
}
.cont.s--el-active .el:nth-child(1):not(.s--active){
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(1) .el_inner{
    transition-delay: 0;
}
.el:nth-child(1) .el_bg{
    transform: translate3d(0%,0,0);
}
.el:nth-child(1) .el_bg::before{
    transition-delay: 0s;
    background-image: url('images/');
}
.el:nth-child(2) {
    transform: translate3d(105.2083333333%, 0,0);
    transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active){
    transform: scale(0.5) translate3d(20%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
}
.el:nth-child(2) .el_inner{
    transition-delay: 0.1s;
}
.el:nth-child(2) .el_bg{
    transform: translate3d(-20%, 0, 0);
}
.el:nth-child(2) .el_bg::before{
    transition-delay: 0.1s;
    background-image: url('images/');
}

.el:hover .el_bg::after{
    opacity: 0;
}
.el.s--active {
    z-index: 1;
    width: 80%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
}
.el.s--active .el_bg {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s;
}
.el.s--active .el_bg:hover {
    transition-delay: 0.6s;
    transform: scale(1.1);
}
.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}
.icon-link img{
    width: 100%;
    vertical-align: top;
}
.icon-link--twitter {
    left: auto;
    right: 5px;
}
/*Fin experience associative*/

/*Debut du responsive*/
@media screen and (max-width : 1297px) {
    .volets {display: none;}
    .volet-responsive {
        display: block;
        background-color:#343434;
        border-radius: 10px;
        padding: 75px 15% 50px 15%;
    }
    .volet-responsive .card {
        background-color: rgb(101, 101, 101); 
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
    }
    .volet-responsive h3{ font-size: 1.8em; text-align: center; background-color: #515151; border-radius: 10px; padding: 5px;}
    .volet-responsive ul {margin: 10px 0 10px 0;}
    .volet-responsive ul li {font-size: 1.2em; margin-top: 5px;}
    .volet-responsive ul li strong {font-size: 1.3em;}
}
/*Fin du responsive*/
/*Fin expérience*/
